@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    font-family: "Lato", sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.banner-container {
    width: 100%;
    height: 652px;
    background: rgba(229, 84, 115, 0.1);
}

.banner-content {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding-top: 10px;
}

.banner-text-container {
    width: 50%;
}

.banner-text-container h1 {
    font-size: 70px;
    font-weight: 800;
}

.banner-text-container p {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: rgba(39, 39, 39, 0.6);
    margin: 20px 0;
}

.btn {
    color: rgb(255, 255, 255);
    font-size: 20x;
    font-weight: 700;
    border-radius: 8px;
    background: #e55473;
    padding: 10px;
    border: none;
}

.banner-image-container {
    width: 50%;
}

.banner-image-container img {
    width: 635px;
    height: 642px;
}

.featured-flowers {
    margin-top: 7%;
}

.details h2 {
    font-size: 40px;
    font-weight: 800;
}

.details p {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: rgba(39, 39, 39, 0.6);
    margin: 20px 0;
}

.featured-flowers .details {
    margin: 0 auto;
    text-align: center;
}

.featured-images {
    display: flex;
    width: 92%;
    margin: 0 auto;
    align-items: center;
}

.featured-images p {
    font-size: 18px;
    font-weight: 700;
    color: rgb(39, 39, 39);
}

.first-img img {
    /* border: 2px solid green; */
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

.second-img img {
    /* border: 2px solid green; */
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}

.third-img img {
    /* border: 2px solid green; */
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

.first-img,
.second-img,
.third-img {
    width: 33%;
    height: 530px;
    margin: 0 auto;
    text-align: center;
}

.first-img img,
.second-img img,
.third-img img {
    height: 80%;
    width: 80%;
}

.support {
    width: 1340px;
    height: 240px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin: 0 auto;
}

.support-container {
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    text-align: center;
    padding: 30px;
}

.part-1,
.part-2,
.part-3 {
    background: white;
    padding: 30px;
    border-radius: 10px;
}

.support-container p {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 600;
    color: rgba(39, 39, 39, 0.8);
}

.discount {
    margin: 5%;
    width: 90%;
    height: 420px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
}

.details {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.details .p {
    text-align: center;
}

.discount img {
    width: 40%;
}

.img-part {
    width: 50%;
    padding-left: 10%;
    padding-top: 4%;
}

.instagram {
    margin-bottom: 5%;
}

.instagram .details {
    margin: 0 auto;
}

.instagram-img {
    width: 1340px;
    display: flex;
    gap: 15px;
    margin: 0 auto;
    justify-content: center;
}

.instagram-img img {
    border-radius: 10px;
}

.deal-container {
    width: 1140px;
    height: 349px;
    border: 2px solid white;
    margin: 0 auto;
    background-image: url("Flower Asset/Rectangle\ 9.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-bottom: 5%;
}

.deal-container .deal {
    margin-top: -5px;
}

.deal-container .details {
    margin: 0 auto;
    margin-top: 7%;
}

.deal-container .text {
    width: 550px;
    height: 64px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    border: none;
    margin-right: 10px;
    padding-left: 20px;
}

.deal-container .btn {
    height: 64px;
    width: 150px;
}

.deal-container .detail-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    margin: 0 auto;
    width: 100%;
    height: 420px;
    background: rgb(17, 16, 16);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

footer h2 {
    font-size: 38px;
    font-weight: 800;
    margin-bottom: 20px;
}

footer .para {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.4);
}